*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier;
}


.container{
    width:100%;
    min-height:100vh;
    background: linear-gradient(45deg, #79aeb2 20%, #4a6274 70%);
    padding: 10px;
    
}
.list{
    
    max-width:600px;
    background: #D294AF;
    margin:100px auto 20px;
    border-radius:10px;
    padding:40px 30px 70px;
}

.list h2{
    color:#050e1d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Georgia';
}

.list h2 img{
    width:30px;
    margin-left:10px;
}
.contain{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight:800;
}

button{
    border:none;
    outline:none;
    padding:18px 50px;
    background:#ff5945;
    color:white;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
    border-radius: 40px;
    cursor:pointer;
}

ul li{
    list-style: none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    margin: 12px;
    user-select: none;
    cursor:pointer;
    position:relative;
    background: #E9D2EB;
    border-radius: 10px;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position:center;
    top:12px;
    left:8px;
}

ul li.checked{
    color: black;
    text-decoration: line-through;
    font-weight: bold;
}
ul li.checked::before{
    background-image: url(img/done.png);
}

ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color:black;
    line-height: 40px;
    text-align: center;
   
}
ul li span:hover{
    background:#edeef0;
}

